{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<div class="container">

    <header class="header">
        <h1> Books List</h1>

        <a class="btn add-btn" href="{% url 'create_book' %}">
            + Add Book
        </a>
    </header>

    {% if books %}
    <div class="books-grid">

        {% for book in books %}

        <div class="book-card">

            <h3>{{ book.title }}</h3>

            <p class="desc">
                {{ book.desc|default:"No description available" }}
            </p>

            <div >
                <span class="books-grid"> {{ book.rate }}</span>
                <span class="books-grid"> {{ book.views }}</span>
            </div>

            <div >
                <a class="btn edit" href="{% url 'update_book' book.id %}">
                    Edit
                </a>

                <a class="btn delete" href="{% url 'delete_book' book.id %}">
                    Delete
                </a>
            </div>

        </div>

        {% endfor %}

    </div>

    {% else %}

    <div class="empty-state">
        <h3>No books found </h3>
        <p>Start by adding your first book</p>
        <a class="btn add-btn" href="{% url 'create_book' %}">
            + Add Book
        </a>
    </div>

    {% endif %}

</div>

</body>
</html>